.btn-watchr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background-color: var(--bg-tile);
    color: var(--text);
    border: var(--border);
    cursor: pointer;
    padding: .35rem 1rem .35rem .75rem;
    border-radius: var(--border-radius);
    margin: 0;
    margin-top: 1rem; 
}

.btn-watchr:hover {
    border-color: var(--color-primary);
}

.btn-watchr .icon {
    display: block;
    width: 28px;
    height: 28px;
}