.address-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-muted);
    margin-bottom: var(--padding);

    .trailing {
        display: flex;
        gap: .25rem;
        
        img, svg {
            display: block;
            width: 16px;
            height: 16px;
        }
    }
}