.drawer {
    flex-direction: column;
    background: var(--drawer-bg-color);
    width: 70vw;
    height: 100vh;
    padding: var(--padding);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-70vw);
    transition: all .35s ease;
    color: var(--text-dark);
    display: none;

    .loaded & {
        display: flex;
    }

    &.active {
        transform: translateX(0);
    }

    .drawer-header {
        margin-bottom: var(--padding-lg);

        .logo {
            width: 40px; 
        }
    }

    .portfolios-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: var(--font-weight-bold);
        margin-bottom: var(--padding-sm);

        svg {
            width: 24px;
            height: 24px;
            display: block;
        }
    }

    .drawer-footer {
        margin-top: auto;

        > button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .logo {
            height: 28px;
        }
        
        .icon {
            width: 18px;
            height: 18px;
            display: block;
            color: var(--text-dim);
        }

        .app-version {
            margin: calc(var(--padding)* -1);
            margin-top: var(--padding);
            padding: var(--padding-sm) var(--padding);
            background: var(--hover-color);
            text-align: center;
            font-size: var(--font-size-sm);
        }

        // svg {
        //     width: 24px;
        //     height: 24px;
        //     display: block;
        // }
    }

    .btn-bordered {
        display: block;
        width: 100%;
    }
}