.panel {
    display: flex;
    flex-direction: column;
    color: var(--text-dark);
    margin: 0 calc(var(--padding-lg) * -1) calc(var(--padding) * -1) calc(var(--padding-lg) * -1);

    .panel-header {
        text-align: center;
        padding: var(--padding);
        position: sticky;
        top: calc(var(--size-page-header-height) - var(--padding) - 1px);
        background: var(--bg-page);

        // Hack to avoid content being visible when scrolling behind the header
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: var(--panel-bg-color);
            border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
        }
    }

    .panel-body {
        background: var(--panel-bg-color);
        padding: var(--padding);
        padding-top: 0;
        flex: 1;
    }
}