html, body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    box-sizing: border-box;
}

body {
    width: 360px;
    height: 600px;
    background: var(--bg-page);
    color: var(--text-color);
    position: relative;
    overflow: hidden; 
}

.text-success {
    color: var(--text-success) !important;
}

.text-danger {
    color: var(--text-danger) !important;
}

::-webkit-scrollbar { 
    display: none;
}